<%inherit file="/base.html"/>

<%def name="ds_url()">
 "${h.url_for(controller='language', action='strings', id=c.language.name, domain=c.domain.name)}"
</%def>

<%def name="head()">
    <link type="text/css" rel="stylesheet"
	  href="http://yui.yahooapis.com/2.5.0/build/datatable/assets/skins/sam/datatable.css"> 

    <script type="text/javascript"
	    src="http://yui.yahooapis.com/2.5.0/build/datasource/datasource-beta-min.js"></script> 

    <!-- JSON Utility -->
    <script type="text/javascript"
	    src="http://yui.yahooapis.com/2.5.0/build/json/json-min.js">
    </script> 

    <!-- Connection (enables XHR) -->
    <script type="text/javascript"
	src="http://yui.yahooapis.com/2.5.0/build/connection/connection-min.js">
    </script> 

    <script type="text/javascript" src="http://yui.yahooapis.com/2.5.0/build/dragdrop/dragdrop-min.js"></script>

<!-- OPTIONAL: Calendar (enables calendar editors)
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.0/build/calendar/calendar-min.js"></script>
 -->

    <!-- Source files -->
    <script type="text/javascript"
    src="http://yui.yahooapis.com/2.5.0/build/datatable/datatable-beta-min.js"></script> 

<!-- button -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/button/button-min.js"></script>


<script type="text/javascript">
    /**
     * Enables TEXTAREA Editor, also pulling in extra data from suggestions.
     *
     * @method DataTable.editTextareaPlusSuggestions
     * @param oEditor {Object} Object literal representation of Editor values.
     * @param oSelf {DataTable} Reference back to DataTable instance.
     * @static
     */
YAHOO.widget.DataTable.editTextareaPlusSuggestions = function(oEditor, oSelf) {
    var elCell = oEditor.cell;
    var oRecord = oEditor.record;
    var oColumn = oEditor.column;
    var elContainer = oEditor.container;
    var value = YAHOO.lang.isValue(oRecord.getData(oColumn.key)) ? oRecord.getData(oColumn.key) : "";

    var elTextbox = document.createElement("textarea");
    var div = document.createElement('div');
    div.appendChild(elTextbox);
    elContainer.appendChild(elTextbox);
    
    elTextbox.style.width = elCell.offsetWidth + "px";
    elTextbox.value = value;

    YAHOO.util.Event.addListener(elTextbox, "keyup", function(ev){
            oEditor.value = elTextbox.value;
        oSelf.fireEvent("editorUpdateEvent",{editor:oEditor});
    });

    elTextbox.focus();
    elTextbox.select();

    var callback = {
        failure: function(o) { }, /* Curious, maybe there should be error handling. */
        success: function(o) { 
            var data = YAHOO.lang.JSON.parse(o.responseText)['result'];
            
            for (index in data) {
                o.argument.elContainer.appendChild
                    (document.createTextNode("Suggestion by "));
                o.argument.elContainer.appendChild
                    (document.createTextNode(data[index]['author']));

                var div = document.createElement('div');
                /* Put the textarea in a div */
                var subdiv = document.createElement('div');
                var elTextbox = document.createElement('textarea');
                elTextbox.value = data[index]['suggestion'];
                subdiv.appendChild(elTextbox);
                div.appendChild(subdiv);

                /* Create buttons ... */
                var buttonsdiv = document.createElement('div');
                YAHOO.util.Dom.generateId(buttonsdiv);
                var accept_sugg_button = new YAHOO.widget.Button({
                        label: 'Copy',
                        container: buttonsdiv.id,
                    });
                accept_sugg_button.on("click", function(event) {
                        o.argument.elTextbox.value = elTextbox.value;
                    });
                var delete_sugg_button = new YAHOO.widget.Button({
                        label: 'Delete',
                        container: buttonsdiv.id,
                    });
                delete_sugg_button.on("click", function(event) {
                        alert('lol no');
                    });
                div.appendChild(buttonsdiv);
                /* throw away data[index]['author'] */
                o.argument.elContainer.appendChild(div);
            }
        },
        argument: {elContainer: elContainer,
                   elTextbox: elTextbox}
    }
    var request = YAHOO.util.Connect.asyncRequest('GET',
                  "${h.url_for(controller='language', action='suggestions_for_message',
                   id=c.language.name, domain=c.domain.name,
                   message_id='REPLACE_ME')}".replace("REPLACE_ME",
                     escape(oEditor.record.getData().id)),
            callback);

    };
</script>



<script type="text/javascript">
YAHOO.util.Event.addListener(window, "load", function() {

        var myColumnDefs = [
            {key:"id", label:"Name", sortable:true},
     % for l in c.addl_langs:
            {key:"${l}", label:"${l}", sortable:true},
     % endfor
            {key:"value", label:"Translation", editor:YAHOO.widget.DataTable.editTextareaPlusSuggestions},
        ];

        this.myDataSource = new YAHOO.util.DataSource(${self.ds_url()} + "?${c.addl_langs_qs}");
        this.myDataSource.responseType = YAHOO.util.DataSource.TYPE_JSON;
        this.myDataSource.connXhrMode = "queueRequests";
        this.myDataSource.responseSchema = {
            resultsList: "strings",
            fields: ["id","value", ${c.addl_langs_list}]
        };
 
        this.myDataTable = new YAHOO.widget.DataTable("strings_table", 
                myColumnDefs, this.myDataSource, {initialRequest:""});

 %if c.user:
        this.myDataTable.subscribe("cellClickEvent", 
                                   this.myDataTable.onEventShowCellEditor); 

	this.myDataTable.showCellEditorBtns  = function(elContainer) {
	    var DT = YAHOO.widget.DataTable,
	    DS = YAHOO.util.DataSource;
	    var Dom    = YAHOO.util.Dom;
	    var Ev = YAHOO.util.Event;


	    // Buttons
	    var elBtnsDiv = elContainer.appendChild(document.createElement("div"));
	    Dom.addClass(elBtnsDiv, DT.CLASS_BUTTON);
	    
	    // Save button
	    var elSaveBtn = elBtnsDiv.appendChild(document.createElement("button"));
	    Dom.addClass(elSaveBtn, DT.CLASS_DEFAULT);
	    elSaveBtn.innerHTML = "OK";
	    Ev.addListener(elSaveBtn, "click", function(oArgs, oSelf) {
		    oSelf.onEventSaveCellEditor(oArgs, oSelf);
		    oSelf.focusTbodyEl();
		}, this, true);
	    
	    // Cancel button
	    var elCancelBtn = elBtnsDiv.appendChild(document.createElement("button"));
	    elCancelBtn.innerHTML = "Cancel";
	    Ev.addListener(elCancelBtn, "click", function(oArgs, oSelf) {
		    oSelf.onEventCancelCellEditor(oArgs, oSelf);
		    oSelf.focusTbodyEl();
		}, this, true);
	};
	
        this.myDataTable.subscribe("editorSaveEvent", function(e) {
          // create an object to post back

          var edit = {id: e.editor.record.getData().id,
                      new_value: e.newData,
                      old_value: e.oldData,
                      e: e};

          var edit_callback = {
             success: function(o) {
                var data = YAHOO.lang.JSON.parse(o.responseText);
                var message_box = document.getElementById('result_message');

		var new_message = document.createElement('div');
		new_message.class = 'message_' + data['result'];
                var text = document.createTextNode(data['message']);
		new_message.appendChild(text);

                // Racey: Clear out other children
                for (var i = 0; i < message_box.childNodes.length; i++) {
                    var child = message_box.childNodes[i];
                    message_box.removeChild(child);
                }
                message_box.appendChild(new_message);

                if (data['result'] == 'error') { // Undo the change to the box!
                     this.argument.e.editor.cell.firstChild.firstChild.value = this.argument.old_value;
                     this.argument.e.editor.record.setData('value', this.argument.old_value);
                }

                // FIXME: Show the user the background process succeeded
             },
             failure: function(o) {
                // FIXME: Show the user the background process failed
             },
             argument:edit,
             cache:false,
          };

          // FIXME: Show the user a background process has started
          var transaction = YAHOO.util.Connect.asyncRequest('POST', 
                  "${h.url_for(controller='language', action='edit_string', id=c.language.name, domain=c.domain.name)}",
                  edit_callback, "data=" + encodeURIComponent(YAHOO.lang.JSON.stringify(edit)));
        });
  %endif

});
</script>

</%def>

<%def name="body()">

<div id="result_message"></div>

%if c.user:
<p>You can click the text in the <strong>Translation</strong> column
  to edit a translation.</p>
  %if 'translator' not in c.user_roles:
  <p class="notice">Your submissions will be filed
    as <em>suggestions</em>, pending approval by a translator.</p>
  %endif
%else:
<p class="notice"><a href="/account/login">Login</a> to translate
  strings or make suggestions.</p>
%endif

<div id="strings_table">
</div>

</%def>
