<%inherit file="/base.html"/>

<%def name="ds_url()">
 "${h.url_for(controller='language', action='untranslated_strings', id=c.language.name, domain=c.domain.name)}"
</%def>

<%def name="title()">
<a href="${h.url_for(controller='domain', action='view',
	 id=c.domain.name)}">${c.domain.name}</a>: 
<a href="${h.url_for(controller='language', action='view', id=c.language.name,
	 domain=c.domain.name)}">${c.language}</a>:
View suggestions
</%def>

<%def name="head()">
</%def>

<%def name="gen_list(data)">
% for message in data:
<h3>${message.id|x}</h3>
<ul>
    % for user_id in data[message]:
    <li>${user_id|x} suggests ${data[message][user_id]|x} <!-- escaped -->
        <ul>
            <li>${h.form(h.url(controller='language', action='suggestion_action'))}
            <input type="hidden" name="user_id" value="${user_id|x}" />
            <input type="submit" name="delete" value="delete" />
            ${h.end_form()}
            </li>
            <li>${h.form(h.url(controller='language', action='suggestion_action'))}
            <input type="hidden" name="user_id" value="${user_id|x}" />
            <input type="submit" name="approve" value="approve" />
            ${h.end_form()}
            </li>
        </ul>
    </li>
    % endfor
% endfor
</%def>

<%def name="body()">
${gen_list(data)}
</%def>
