<%inherit file="/base.html"/>

<%def name="head()"></%def>

<%def name="title()">
Password changing for ${c.user.user_name | x} 
</%def>

<%def name="body()">

<h1>User info</h1>
${h.form(h.url(controller='account', action='change_password_submit'), method='POST')}
  <dl>
    <dt>Current password:</dt>
    <dd><input type="text" name="old_password"></dd>
    <dt>New password:</dt>
    <dd><input type="password" name="password_once"></dd>
    <dt>New password (once more for verification):</dt>
    <dd><input type="password" name="password_twice"></dd>
  </dl>
  <input type="submit" name="authform" value="Change password" />
${h.end_form()}
</%def>
