<%inherit file="/base.html"/>

<%def name="head()"></%def>

<%def name="title()">
Grant or revoke permissions
</%def>

<%def name="gen_role_table(roles_data)">
<table id='user2role'>
<thead>
  <tr>
    <td>Username</td>
    <td>Language ID</td>
    <td>Roles</td>
  </tr>
</thead>
<tbody>
<!-- FIXME:
     This could cause race conditions where two people try to
     modify the permissions at the same time.  I'm not going
     to try to solve that right now.
-->
  % for lang_id in roles_data:
  % for datum in roles_data[lang_id]:
  <tr id="row_user_id_${roles_data[lang_id][datum]['user_id']}">
    <td>${roles_data[lang_id][datum]['username']|x}</td>
    <td>
      ${lang_id|x}
    </td>
    <td>
      <table>
	% for role in general_role_info:
	<tr>
	  <td>
	    <input type="checkbox"
	    % if role.role_id in roles_data[lang_id][datum]['role_ids']:
		   checked="checked"
	    % endif
		   name="user_n_role_${roles_data[lang_id][datum]['user_id']}_${role.role_id}_${lang_id}"
	     />
	  </td>
	  <td>
	    ${role.role_name|x}
	  </td>
	</tr>
	% endfor
      </table>
    </td>
  </tr>
  % endfor
  % endfor
</tbody>
</table>

</%def>

<%def name="body()">
${h.form(h.url(controller='account', action='permissions_submit'), method='POST')}
<h1>Roles!</h1>

<h2>People with existing roles</h2>

${gen_role_table(roles_data)}

<h2>Add a role easily with drop-downs</h2>

<table id='new_user2role'>
<thead>
  <tr>
    <td>Username</td>
    <td>Language ID</td>
    <td>Roles</td>
  </tr>
</thead>
<tbody>
<!-- FIXME:
     This could cause race conditions where two people try to
     modify the permissions at the same time.  I'm not going
     to try to solve that right now.
-->
  <tr id="new_role">
    <td>
      <select name="new_role_user_id">
	% for user in all_users:
	<option value="${user.user_id}">
	  ${user.user_name|x}
	</option>
	% endfor
      </select>
    </td>
    <td>
      <select name="new_role_lang_id">
	% for lang in sorted(all_languages):
	<option value="${lang}">
	  ${lang|x} <!-- FIXME: Where do we do lang2name mappings? -->
	</option>
	% endfor
      </select>
    </td>
    <td>
      <table>
	% for role in general_role_info:
	<tr>
	  <td>
	    <input type="checkbox"
		   name="new_role_${role.role_id}"
	     />
	  </td>
	  <td>
	    ${role.role_name|x}
	  </td>
	</tr>
	% endfor
      </table>
    </td>
  </tr>
</tbody>
</table>

<div>
<input type="submit" name="authform" value="Save permissions" />
${h.end_form()}
</div>

</%def>

