<%inherit file="/base.html"/>

<%def name="head()"></%def>

<%def name="title()">
Register for a new account
</%def>

<%def name="body()">
${h.form(h.url(controller='account', action='register_submit'), method='POST')}
  <dl>
    <dt>Username:</dt>
    <dd><input type="text" name="user_name"></dd>
    <dt>Password:</dt>
    <dd><input type="password" name="password_once"></dd>
    <dt>Password (once more for verification):</dt>
    <dd><input type="password" name="password_twice"></dd>
    <dt>Your full name:</dt>
    <dd><input type="text" name="human_name"></dd>
    <dt>Your email address:</dt>
    <dd><input type="text" name="email"></dd>
  </dl>
  <input type="submit" name="authform" value="login" />
${h.end_form()}
</%def>
